.middle-card{
    margin-top: 13%;
}
.banar-area{
    background: url(../../images/Bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
}